    #this is the one i am struggling with the output and saving it as a file 

import requests
import json
import pprint

pokemon_ids = [12, 30, 22, 4, 6, 8]


def pokemonInfo():
    for pokemon in pokemon_ids:
        url = 'https://pokeapi.co/api/v2/pokemon/{}/'.format(pokemon)
        response = requests.get(url)
        pokemon = response.json()
        n= pprint.pprint("Name: " + (pokemon["name"]))
        m= pprint.pprint(pokemon["moves"])

    return(n,m)

with open("pokemon.txt", "w+") as text_file:
    pokemons = pokemonInfo()
    text_file.write(pokemons)
    
